body > * {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: @color-prime;
}

h3,
h2 {
  color: @color-Wtitle;
  text-align: @text-center;
}
.header {
  &__links a {
    display: @display-none;
  }
  &__search {
    background: url("../assets/students.jpeg") no-repeat center;
  }
  &__search__form {
    width: 400px;
    background-color: @color-bg;
    border-radius: 10px;
    padding: 20px 10px;
    .align-center;
  }
  button {
    width: 200px;
    .align-center;
    display: @display-none;
  }
}
