.main {
  max-width: 1024px;
  .align-center;
  margin: 30px 0;
}

.info {
  width: 95%;
  .align-center;
  &__box {
    width: 80%;
    .align-center;
    background-color: @color-prime;
    .span {
      color: @color-c3;
    }
  }
}
