.main--container {
  max-width: 1400px;
  .align-center;
  overflow: hidden;
}

h5 {
  text-align: center;
  color: @color-prime;
  font-size: 24px;
  padding: 40px 0 20px 0;
  width: 100%;
}

.main {
  margin-top: 30px;

  &__box {
    .align-center;
    max-width: 850px;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  transition: 450ms;

  .align-center;
  &__article {
    .align-center;
    .card-style;
    text-align: center;
    transition: 450ms;
    transform-origin: center top;

    &:hover {
      transform: scale(1.1);
      box-shadow: 14px 14px 5px -8px rgba(212, 212, 212, 1);
    }
  }
  &__section {
    color: @color-Wtitle;
    padding: 30px 15px;
    display: flex;
    align-items: center;

    article {
      width: 55%;
      padding-left: 20px;

      h6 {
        font-size: 26px;
        padding: 10px 0 20px 0;
      }
      p {
        font-size: 16px;
      }
      button {
        margin-top: 30px;
      }
    }
    svg {
      border-radius: 50%;
      width: 30%;
      margin: 15px;
    }
  }
  .section1 {
    background-color: @color-c1;
    margin-top: 60px;

    button {
      color: @color-c1;
      background-color: @color-Wtitle;
      .btn-r;
    }
    svg {
      background-color: @color-c2;
    }
  }
  .section2 {
    background-color: @color-c2;

    button {
      color: @color-c2;
      background-color: @color-Wtitle;
      .btn-r;
    }
  }
  .section3 {
    background-color: @color-c3;
  }
}

h5 {
  margin: 30px;
}

svg {
  width: 100px;
}

.main__article:hover ~ .main__article {
  transform: translate3d(0, 20px, 0);
}
