.main--container {
  max-width: 1000px;
  .align-center;
}

main {
  max-width: 800px;
  .align-center;
  padding: 40px 0;
}

.form--container {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: @color-c2;
  max-width: 600px;
  .align-center;
  border-radius: 5px;
  h4 {
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
  }
}

.form {
  padding: 30px 0;
  width: 80%;
  .align-center;
  label {
    display: block;
    input {
      width: 100%;
      display: block;
      .btn-r;
    }
    select {
      display: block;
      width: 100%;
      outline: none;
      background-color: white;
      .btn-r;
    }
  }
  button {
    margin-top: 30px;
    padding-top: 20px;
    display: block;
    width: 100%;
    .btn-r;
    background-color: @color-prime;
  }
}

.carousel--container {
  h4 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0 20px 0;
  }
}
