.align-center() {
  margin-left: auto;
  margin-right: auto;
}

.flex-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-reset() {
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
}

.text-bold20() {
  font-weight: bold;
  font-size: 20px;
}
